/stockInfo.json
/addLogoToDb.py
/compass-connections.json
/test.py
/.idea/PythonScriptsForMarketData.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/.gitignore
/.idea/vcs.xml
*.csv
/importTransactions.py
